[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

.vs/
.idea/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser


[Tt]est[Rr]esult*/
TestResults/
*.trx
*.coverage
*.coveragexml

*.log

.DS_Store
Thumbs.db


packages/
*.nupkg


*.tmp
*.temp
